<!DOCTYPE html>
<html lang="en">
  <head> 
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Grandma Etty | About</title>
      <link rel="stylesheet" href="../public/style.css" type="text/css">
      <script src="app.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="body">
    <header>
      <%- include('navbar') %>
    </header>
    <div class="container">
      <div class="text">
        Contact us Form
      </div>
      <form id="form" action="#">
        <div class="form-row">
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">First Name</label>
          </div>
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Last Name</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Email Address</label>
          </div>
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Website Name</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br>
            <div class="underline"></div>
            <label for="">Write your message</label>
            <br>
            <div class="form-row submit-btn">
              <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="submit">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <br><br>
    <div id="odot">
      <h2>Greetings!</h2>
      <p>We are Almog's 2nd year Jerusalem startups. We always thought and delved into a way to do just a good deed in the middle of the day.</p>

      <h3>Our Inspiration</h3>
      <p>In our meeting with the other members of the Good Thought team, we received guidance, and we came up with the perfect idea. As a result of the war, many people's lives were destroyed, families fell apart, mothers cried for their sons, adults were left alone unable to do anything. We brought these issues up on the table and the story we connected with the most is the story of Grandma Etti.</p>

      <h3>Grandma Etti's Story</h3>
      <p>Grandma Etti's grandson visits her at least twice a week, and in his visits he revives her and makes her feel important. We thought that every grandparent would like to feel this way, and to our great concern this does not happen. That's why we created a site called Grandma Eti.</p>

      <h3>How Our Site Helps</h3>
      <p>The site helps seniors get favors, but not just any favors, these are favors in return. For example:</p>
      <ul>
          <li><strong>Benjamin wants to learn chess</strong>, and Grandfather Yossi wants them to help him tidy up the house.</li>
      </ul>
      <p>Benjamin and Grandfather Yossi meet on the platform, and offer the demand to each other, so that both parties leave happy and satisfied.</p>

      <h3>Our Mission</h3>
      <p>We believe that with the help of the site we built, seniors will become more active and happier and will still feel like a big part of our world.</p>
 
      <!-- <p>Greetings! We are Almog's 2nd year Jerusalem startups, we always thought and delved into a way to do just a good deed in the middle of the day. In our meeting with the other members of the Good Thought team, we received guidance, and we came up with the perfect idea.
        As a result of the war, many people's lives were destroyed, families fell apart, mothers cried for their sons, adults were left alone unable to do anything. We brought these issues up on the table and the story we connected with the most is the story of Grandma Etti, Grandma Etti's grandson visits her at least twice a week, and in his visits he revives her and makes her feel important.
        We thought that every grandparent would like to feel this way, and to our great concern this does not happen, and that's why we created a site called Grandma Eti. The site helps seniors get favors, but not just any favors, these are favors in return, for example: Benjamin wants to learn chess, and grandfather Yossi wants them to help him tidy up the house. Benjamin and Grandfather Yossi meet on the platform, and offer the demand to each other, so that both parties leave happy and satisfied.
        We believe that with the help of the site we built, seniors will become more active and happier and will still feel like a big part of our world.</p> -->
    </div>
    <br
    ><br>
    <br>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('footer') %>
  </body>
</html>