<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grandma Etty | Give And Take</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    


    <header>
        
    </header>
    <div>
        <div class="scroll-right">
            <pre>                                                                                   "לא פעם אדם שנותן נתרם יותר מהנזקק."                                         "תן תמחיד לזולת מבלי לזכור וקבל תמיד מבלי לשכוח"                           " העניין הוא לא כמה אנחנו נותנים, אלא הכמות שאנחנו משקיעים בנתינה"</pre>                    <pre> "תן תמיד לזולת מבלי לזכור וקבל תמיד מבלי לשכוח"</pre>
        </div>
        <h1></h1>

        <h2> </h2>
    </div>

=======
    <br><br>
<div id="odot">
    <div id="helo">
        <h1>שלום רב!</h1>
    </div>
<p>  אנחנו סטארטפיסטים שנה ב' ירושלים של אלמוג, תמיד חשבנו והתעמקנו על דרך לעשות סתם מעשה טוב באמצע היום. במפגש שלנו עם שאר חברי צוות מחשבה טובה קיבלנו הכוונה, ועלינו על הרעיון המושלם.
    בעקבות המלחמה להרבה אנשים נהרסו החיים, משפחות התפרקו, אימהות מבכות על בניהם, מבוגרים נשארו לבד ללא יכולת לעשות כלום. העלנו את הנושאים האלה על השולחן והסיפור שהכי התחברנו אליו זה הסיפור של סבתא אתי, נכדה של סבתא אתי נוהג לבקר אותה לפחות פעמים בשבוע, ובביקורים שלו הוא מחיה אותה וגורם לה להרגיש חשובה.
    חשבנו על זה שכל סבא או סבתא היו רוצים להרגיש כך, ולדאבוננו הרב זה לא קורה ולכן הקמנו אתר הנקרא סבתא אתי. האתר מסייע לבני הגיל השלישי לקבל טובות, אבל לא סתם טובות אלה טובות בתמורה, לדוגמא: בנימין רוצה ללמוד שחמט, וסבא יוסי רוצה שיעזרו לו לסדר את הבית. בנימין וסבא יוסי נפגשים בפלטפורמה, ומציעים את הביקוש אחד לשני, כך ששני הצדדים יוצאים שמחים ומאושרים.
    אנו מאמינים שבעזרת האתר שבנינו, אנשי הגיל השלישי יהפכו לאקטיביים ומאושרים יותר וירגישו עדין חלק גדול מעולמנו.</p>
</div>
<br><br><br><br>
<img class="photo" src="liad.jpg" alt="photo" style="width: 200px; height: 250px;">
<img class="photo" src="itay.jpg" alt="photo" style="width: 200px; height: 250px;">
<img class="photo" src="yahel.jpg" alt="photo" style="width: 200px; height: 250px;">
<img class="photo" src="almog.jpg" alt="photo" style="width: 200px; height: 250px;">
<img class="photo" src="ariel.jpg" alt="photo" style="width: 200px; height: 250px;">   
<img class="photo" src="eitanyosef.jpg" alt="photo" style="width: 200px; height: 250px;">
<%- include('footer') %>
<!-- >>>>>>> a3c7564f37e5fd6c97b167940b2323075fac3976 -->
<!-- <img class="photo" src="liad.jpg" alt="photo" style="width: 250px; height: 250px;"> -->



</body>

</html>