
<footer id="footer">
    <a href="/">
        <img src="logoes.jpeg" alt="לוגו  width="100" height="100">
    </a>
    <!-- זה המיספר טלפון של העסק -->
    <!-- זה הלינקים  -->
    <pre>מספר טלפון: 08-4859287  
        
        אימייל: noar2@mtova.org.il</pre><b>תחפשו אותנו</b>
    <a href="https://www.instagram.com/israel_eden_/" class="logoes">
    <img src="instagrm.png" alt="אינסטגרם" width="25" height="25">
    </a>




    <a href="https://www.facebook.com/" class="logoes">
    <img src="facebook.png" alt="פייסבוק"  width="25" height="25">
    </a>
    <p>Ⓒ כל הזכויות שמורות</p>
    בישמעק
</footer>