<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grandma Etty | Give And Take</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <div>
            <h1>Bulletin Board</h1>
            <h2>Here you can upload a form and after registering the form you can get an answer about what you need</h2>
        </div>
        <%- include('footer') %>
    </body>
</html>