<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grandma Etty | Give And Take</title>
        <link rel="stylesheet" href="style.css">
        <script src="app.js"></script>
    </head>
    <body>
        <header>
            <%- include('header') %>
        </header>
        <div id="giveAndTake_headers">
            <h1>Bulletin Board</h1>
            <h2>Here you can upload a donation and help form. After uploading the form, you can receive a response from one of the other participants.</h2>
        </div>
        <div id="giveAndTake_form">
            <form action="http://localhost:3000/giveAndTake" method="post">
                <label for="give">What I give:</label>
                <input type="text" id="give" name="give">
                <br>
                <label for="take">What I give:</label>
                <input type="text" id="take" name="take">
                <br>
                <input type="submit" id="giveAndTake_formUpload" value="Upload">
            </form>
        </div>
        <div id="separateLine">
            
        </div>
        <h2>Here you can help the people who uploaded a form and need your help by taking the note they uploaded, and then talk to the person!</h2>
        <%- include('footer') %>
    </body>
</html>