<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    
    <header>
        
    </header>
  <div class="centered">
    <div>
        <p>אתר "סבתא אתי" הוא פלטפורמה שמטרתו ליצור קשר בין אנשים שרוצים להציע עזרה </p>
        <p> לבין הגיל השלישי שזקוקים לסיוע. האתר מתמקד בהענקת תמיכה וסיוע במגוון תחומים,</p>
        <p> בהתאם לצרכים האישיים שלהם. </p>

           
        <h2> </h2>
<<<<<<< HEAD
    </div>
=======
   </div>
    <div>
    <!-- להוסיף קישור לתמונה לכל אחד מההוראות -->
    <img src="" alt="Flowers in Chania">
    <img src="" alt="Flowers in Chania">
    <img src="" alt="Flowers in Chania">
    
 </div>
 <div>
<p>התחברות/הרשמה</p>
<p>אתם צריכים להתחבר לאתר כדי שתכלו לעלות טופס נתינה ועזרה</p>
 </div>
 <div>
    <button> טופס הרשמה</button>
 </div>
 <div>
    <p> :יצירת פרופיל ושימוש</p>
    <p> </p>
 </div>
 <div>
    <p> :שימוש בצ'אטים </p>
    <p> </p>
 </div>
 <div>
    <p> :שימוש בלוח מודעות</p>
    <p> </p>
 </div>
</div>
<br><br>


<%- include('footer') %>
>>>>>>> fed4f5586fb0dc45ef89c9d98d6fd0778b69e8c1
</body>

</html>