<div id="header">
    <nav>
        <a href="/">Logo</a>
        <a href="/giveAndTake">Give And Take</a>
        <a href="/chats">Chats</a>
        <a href="/donate">Donate</a>
        <a href="/about">form</a>
        <a href="/about">Profile img</a>
    </nav>
</div>

