<div id="header" >
    <nav>
        <a href="/">דף הבית</a>
        <a href="/giveAndTake">"תן וקח"</a>
        <a href="/chats">צ'אטים</a>
        <a href="/donate">תרומות</a>
        <a href="/about">אודות</a>
        <a href="/">
            <img src="logoes.jpeg" alt="לוגו" width="100" height="100"     margin-right: 66px;>
        </a>
    </nav>
</div>

