<nav>
    <ul>
        <div id="navGrooptLeft">
            <li><a href="/" class="IMGbutton"><img src="../public/profileIMG.png" alt="Profile IMG" height="60%" width="60%"></a></li>
            <div id="navButtonsLeft">
                <li><a href="/" class="navbarButton">Home</a></li>
                <li><a href="/giveAndTake" class="navbarButton">Give And Take</a></li>
                <li><a href="/chats" class="navbarButton">Chats</a></li>
            </div>
        </div>
        <div id="navGroopRight">
            <div id="navButtonsRight">
                <li><a href="/about" class="navbarButton">About us</a></li>
                <li><a href="/donate" class="navbarButton">Donate</a></li>
            </div>
            <li><a href="/profile" class="IMGbutton"><img src="../public/profileIMG.png" alt="Profile IMG" height="60%" width="60%"></a></li>
        </div>
    </ul>
</nav>