<div id="header">
    <nav>
        <a href="/">Logo</a>
        <a href="/">Home</a>
        <a href="/giveAndTake">Give And Take</a>
        <a href="/chats">Chats</a>
        <a href="/about">About us</a>
        <a href="/donate">Donate</a>
        <a href="/profile">Profile img</a>
    </nav>
</div>