body {
    font-family: Arial, sans-serif;
    background-color: #143255;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    outline-style:  #000000;

}

nav {
    background-color: #ffc4d0;
    padding: 10px;
    text-align: center;
    font-size: 27px;
    border-radius: 25px;

}

nav a {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 20px;
}
#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

footer {
    background-color: #ffc4d0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 0;
    bottom: 0;
}
.centered {
    text-align: center;
}
/* 
footer a {
    float: center;
    color: black;
    padding-left: 10px;
}

footer pre {
    font-size: 18px;
    font-family: 'Rubik Dirt';
} */
#odot {
    text-align: center;
    font-size: 1.2em; 
    text-align: right;
    margin: 0 auto;
    max-width: 1001px;
}
