body {
    font-family: Arial, sans-serif;
    background-color: #143255;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    background-color: rgb(40, 40, 43);
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

footer {
    background-color: rgb(40, 40, 43);
    color: gray;
    text-align: center;
    padding-bottom: 0;
    bottom: 0;
}
.centered {
    text-align: center;
}
/* 
footer a {
    float: center;
    color: black;
    padding-left: 10px;
}

footer pre {
    font-size: 18px;
    font-family: 'Rubik Dirt';
} */

#odot {
    text-align: center;
    font-size: 1.2em; 
    text-align: right;
    margin: 0 auto;
    max-width: 1001px;
}
