<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<footer id="footer">
      <div class="footer-content">
            <h3>give and take</h3>
            <ul class="socials">
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://x.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://mail.google.com/mail/u/0/#inbox"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;</p>
                  <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/giveAndTake">Give And Take</a></li>
                        <li><a href="/chats">Chats</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/profile">Profile img</a></li>

                      </ul>
                  </div>
      </div>  
    </footer>