<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grandma Etty | Give And Take</title>
        <link rel="stylesheet" href="../public/style.css" type="text/css">
        <script src="app.js" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous" defer></script>
    </head>
    <body class="body">
        <header>
            <%- include('navbar') %>
        </header>
        <h1>Bulletin Board</h1>
        <p>Here you can upload a donation and help form. After uploading the form, you can receive a response from one of the other participants.</p>
        <p>(Everything with a * sign must be filled)</p>
        <form action="http://localhost:3000/giveAndTake" method="post" class="row g-2  shadow p-3 mb-5 bg-body-tertiary rounded container border">
            <div class="col-md-5">
                <label for="give" class="form-label">What I give:</label>
                <input type="text" id="give" name="give" class="form-control" required>
            </div>
            <div class="col-md-5">
                <label for="take" class="form-label">What I take:</label>
                <input type="text" id="take" class="form-control" name="take" required>
            </div>
            <div class="col-md-3">
                <label for="Date_time" class="form-label">Date and time:</label>
                <input type="datetime-local" id="Date_time" class="form-control" name="Date_time" required>
            </div>
            <div class="col-md-3">
                <label for="until" class="form-label">Until:</label>
                <input type="datetime-local" id="until" class="form-control" name="until">
            </div>
            <div class="col-md-4">
                <label for="location" class="form-label">location:</label>
                <input type="text" id="location" class="form-control" name="location" required>
            </div>
            <div class="col-md-10">
                <label for="notes" class="form-label">Notes:</label>
                <textarea type="text" id="notes" class="form-control" name="notes"></textarea>
            </div>
            <div class="col-12">
                <input type="submit" id="giveAndTake_formUpload" class="btn btn-primary" value="Upload">
            </div>
        </form>
        <div id="myNotes">
            <h2>My notes:</h2>
        </div>
        <h2>Here you can help the people who uploaded a form and need your help by taking the note they uploaded, and then talk to the person!</h2>
        <br><br><br><br><br><br><br><br>
        <div class="row row-cols-1 row-cols-md-6 g-5">
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">סבתא אתי</h5>
                        <p class="card-text">רוצה עזרה ב: קניות</p>
                        <p class="card-text">יכול/ה לעזור ב: לימודי שחמט</p>
                        <p class="card-text">אני יכול/ה ב: 07/08/2024</p>
                        <p class="card-text">מיקום: ירושלים, הזית 5</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">דניאל</h5>
                        <p class="card-text">רוצה עזרה ב: לימודי אנגלית</p>
                        <p class="card-text">יכול/ה לעזור ב: ניקיון ביתי</p>
                        <p class="card-text">אני יכול/ה ב: 07/09/2024</p>
                        <p class="card-text">מיקום: תל-אביב, תאנה 6</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">אסתי כהן</h5>
                        <p class="card-text">רוצה עזרה ב: מתמטיקה</p>
                        <p class="card-text">יכול/ה לעזור ב: לימוד איפור </p>
                        <p class="card-text">אני יכול/ה ב: 25/08/2024</p>
                        <p class="card-text">מיקום: הרצליה, אגוז 8</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">גבריאל יחזקאל</h5>
                        <p class="card-text">רוצה עזרה ב: לימוד גיטרה</p>
                        <p class="card-text">יכול/ה לעזור ב: שיעורי פסנתר</p>
                        <p class="card-text">אני יכול/ה ב: 10/9/2024</p>
                        <p class="card-text">מיקום: ירושלים, המכבים 8</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">יצחק</h5>
                        <p class="card-text">רוצה עזרה ב: לימודי עזרה ראשונה</p>
                        <p class="card-text">יכול/ה לעזור ב: פיתוח קול </p>
                        <p class="card-text">אני יכול/ה ב: 4/11/2024</p>
                        <p class="card-text">מיקום: תל-אביב, אבן גבירול 2</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">דוד, משה</h5>
                        <p class="card-text">רוצה עזרה ב: חליבת פרות בחווה</p>
                        <p class="card-text">יכול/ה לעזור ב: טיפים לחיים</p>
                        <p class="card-text">אני יכול/ה ב: 15/12/2024</p>
                        <p class="card-text">מיקום: מעלה גמלא, החלוצים 2</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">אלי כהן</h5>
                        <p class="card-text">רוצה עזרה ב: לימודי דיפלומטיה</p>
                        <p class="card-text">יכול/ה לעזור ב: לימוד ערבית </p>
                        <p class="card-text">אני יכול/ה ב: 10/9/2024</p>
                        <p class="card-text">מיקום: דמשק, אל מידאן 8</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">בנימין</h5>
                        <p class="card-text">רוצה עזרה ב: הדברה</p>
                        <p class="card-text">יכול/ה לעזור ב: טיפים לחיי זוגיות מתמשכת</p>
                        <p class="card-text">אני יכול/ה ב: 10/7/2024</p>
                        <p class="card-text">מיקום: ירושלים, סמולנסקין 9</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">יחיאל סיני</h5>
                        <p class="card-text">רוצה עזרה ב: לימודי בניייה</p>
                        <p class="card-text">יכול/ה לעזור ב: אומנות המחבוא</p>
                        <p class="card-text">אני יכול/ה ב: 7/10/2024</p>
                        <p class="card-text">מיקום: עזה, חאן יונס 9</p>
                        <p class="card-text">הערות: במנהרות למטה</p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../public/logoes.jpg" class="card-img-top" alt="../../public/logoes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">אלי קופטר</h5>
                        <p class="card-text">רוצה עזרה ב: אווירו דינמיקה</p>
                        <p class="card-text">יכול/ה לעזור ב:טרמפ הביתה</p>
                        <p class="card-text">אני יכול/ה ב: 25/11/2024</p>
                        <p class="card-text">מיקום: </p>
                        <button>לקחתי</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <%- include('footer') %> -->
    </body>
</html>