<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../public/style.css" type="text/css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grandma Etty | Home page</title>
  <script src="app.js"></script>

</head>

<body class="body">


  <header>
    <%- include('navbar') %>
  </header>
  <div class="centered">
    <div>
      <h1>Grandma Etti</h1>
      <br>
      <p> <b> "Grandma Etti" website</b></p> 
       <p> <b>is a platform that provides help to others. and in return receives help. </b></p>
       <P>  <b>Its purpose is to create a connection between people who want to offer help to elderly people who need assistance. </b> </p>
      <p> <b> The site focuses on providing support and assistance in a variety fields. For example: help with shopping, cleaning and more.   </b></p>
      <br>
      <p id="style"><b>How to use the website:</b></p>
<br>
  <br>
    </div>
    <div>

      <div style="position: relative;">
        <img id="img1" src="../public/chat.jpg" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left: 440px; top: 10px;">
     </div>
      <!-- <img id="img1" src="../public/chat.jpg" alt="Flowers in Chania" width="140" height="140" > -->
      <div style="position: relative;">
        <img id="img2" src='../public/profile.jpg' alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left: 690px; top: 10px;">
     </div>


     <!-- <img id="img2" src='../public/profile.jpg' alt="Flowers in Chania" width="140" height="140"   > -->

    
   <div>
    <!-- <p id="underlined-paragraph1">:שימוש בפתקים</p> -->
    <p id="p-2"></p>

  </div>
     <div style="position: relative;">
      <img id="img3" src="../public/create-form.jpg" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:960px; top: 10px;">
   </div>
      <!-- <img id="img3" src="../public/create-form.jpg" alt="Flowers in Chania" width="140" height="140"> -->
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>
    </div>
    <div id="line">
      <p id="underlined-paragraph2">Log in/Sign Up:</p>   
    </div>
    <div id="logIn-signIn">
      <div style="position: relative;">
        <button id="signUp_submit" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:775px; top: 7px;">
          <a href="http://localhost:3000/logIn">Log in</a>
     </div>
      <!-- <button id="signUp_submit">
        <a href="http://localhost:3000/logIn">Log in</a>
      </button> -->
      <div style="position: relative;">
        <button id ="LogIn_submit" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:675px; top: 7px;">
          <a href="http://localhost:3000/signUp">Sign up</a>
     </div>
     <br><br>
     <br>
     
      <!-- <button id ="LogIn_submit">
      <a href="http://localhost:3000/signUp">Sign up</a>
    </div> -->

    <div>
      <div>
        <p id="underlined-paragraph"> Profile </p>
        <p id="p-1"></p> In the profile you can see your private details</p>

        <div>
          <p id="underlined-paragraph"> Notes:</p>
          <p id="p-1"></p> On a bullettin board you can take requests from people and help them.</p>
      </div>
      <div>
        <p> בלוח מודעות אפשר לבקש עזרה ובתמורה לעזרה אפשר לקבל גם תמורה.</p>
      </div>
        <!-- <%- include('footer') %> -->
</body>

</html>