<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../public/style.css" type="text/css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grandma Etty | Home page</title>
  <script src="app.js"></script>

</head>

<body class="body">


  <header>
    <%- include('navbar') %>
  </header>
  <div class="centered">
    <div>
      <h1>סבתא אתי</h1>
      <br>
      <p>אתר "סבתא אתי" הוא פלטפורמה שמתמקדת בלתת ולקבל. מטרתו ליצור קשר בין אנשים שרוצים להציע עזרה </p>
      <p> לבין הגיל השלישי שזקוקים לסיוע. האתר מתמקד בהענקת תמיכה וסיוע במגוון תחומים, שונים. לדוגמא: עזרה בקניות,
        ניקיון ועוד </p>
      <br>
      <p>:איך משתמשים באתר</p>


      <h2> </h2>
    </div>
    <div>


      <img id="img1" src="../public/chat.jpg" alt="Flowers in Chania" width="130" height="130">
      <img id="img2" src='../public/profile.jpg' alt="Flowers in Chania" width="130" height="130">
      <img id="img3" src="../public/create-form.jpg" alt="Flowers in Chania" width="130" height="130">

    </div>
    <div id="line">
      <p id="underlined-paragraph2">התחברות/הרשמה</p>
    </div>
    <div id="logIn-signIn">
      <button id="signUp_submit">
        <a href="http://localhost:3000/logIn">Log in</a>
      </button>
      <button id="LogIn_submit">
        <a href="http://localhost:3000/signUp">Sign up</a>
    </div>

    <div>
      <div>
        <p id="underlined-paragraph"> :יצירת פרופיל ושימוש</p>
        <p id="p-1"></p>בפרופיל אפשר ליצור משתמש שאיתו תוכלו ליצור פתק כדאי לבקש עזרה או לתת עזרה</p>

        <p id="underlined-paragraph1">:שימוש בפתקים</p>
        <p id="p-2"></p>

      </div>
      <div>

        <p> בלוח מודעות אפשר לבקש עזרה ובתמורה לעזרה אפשר לקבל גם תמורה.</p>


        <!-- <%- include('footer') %> -->
</body>

</html>