<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../public/style.css" type="text/css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grandma Etty | Home page</title>
  <script src="app.js"></script>

</head>

<body class="body">


  <header>
    <%- include('navbar') %>
  </header>
  <div class="centered">
    <div>
      <h1>סבתא אתי</h1>
      <br>
      <p>אתר "סבתא אתי" הוא פלטפורמה שמתמקדת בלתת ולקבל. מטרתו ליצור קשר בין אנשים שרוצים להציע עזרה </p>
      <p>  לבין הגיל השלישי שזקוקים לסיוע. האתר מתמקד בהענקת תמיכה וסיוע במגוון תחומים, שונים. לדוגמא: עזרה בקניות, ניקיון ועוד </p>
      <br>
      <p>:איך משתמשים באתר</p>


      <h2> </h2>
    </div>
    <div>

      <div style="position: relative;">
        <img id="img1" src="../public/chat.jpg" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left: 440px; top: 10px;">
     </div>
      <!-- <img id="img1" src="../public/chat.jpg" alt="Flowers in Chania" width="140" height="140" > -->
      <div style="position: relative;">
        <img id="img2" src='../public/profile.jpg' alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left: 690px; top: 10px;">
     </div>


     <!-- <img id="img2" src='../public/profile.jpg' alt="Flowers in Chania" width="140" height="140"   > -->

     <div style="position: relative;">
      <img id="img3" src="../public/create-form.jpg" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:960px; top: 10px;">
   </div>
      <!-- <img id="img3" src="../public/create-form.jpg" alt="Flowers in Chania" width="140" height="140"> -->
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
    </div>
    <div id="line">
      <p id="underlined-paragraph2">התחברות/הרשמה</p>   
    </div>
    <div id="logIn-signIn">
      <div style="position: relative;">
        <button id="signUp_submit" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:775px; top: 0px;">
          <a href="http://localhost:3000/logIn">Log in</a>
     </div>
      <!-- <button id="signUp_submit">
        <a href="http://localhost:3000/logIn">Log in</a>
      </button> -->
      <div style="position: relative;">
        <button id="signUp_submit" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:775px; top: 0px;">
          <a href="http://localhost:3000/logIn">Log in</a>
     </div>
      <button id ="LogIn_submit">
      <a href="http://localhost:3000/signUp">Sign up</a>
    </div>

    <div>
      <div>
        <p id="underlined-paragraph"> :יצירת פרופיל ושימוש</p>
        <p id="p-1"></p>בפרופיל אפשר ליצור משתמש שאיתו תוכלו ליצור פתק כדאי לבקש עזרה או לתת עזרה</p>

        <p id="underlined-paragraph1">:שימוש בפתקים</p>
        <p id="p-2"></p>

      </div>
      <div>

        <p> בלוח מודעות אפשר לבקש עזרה ובתמורה לעזרה אפשר לקבל גם תמורה.</p>
        
        
        <!-- <%- include('footer') %> -->
</body>

</html>