<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../public/style.css" type="text/css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grandma Etty | Home page</title>
  <script src="app.js"></script>

</head>

<body class="body">


  <header>
    <%- include('navbar') %>
  </header>   
   <center>
    <!-- The image has scrolling behavior to left -->
    <marquee behavior="scroll" direction="left" width="100%"  >
      <img  width="120px" height="120px"  src=
      "https://img.freepik.com/free-vector/volunteer-helping-elderly-woman_23-2148558737.jpg?t=st=1720540211~exp=1720543811~hmac=a7325324b110cb401db8e244eb173ec125a9c14d03ccdd86a917f74ee3458ac8&w=740"
       alt="GeeksforGeeks logo">

       <img  width="120px" height="120px"  src=
      "https://img.freepik.com/free-vector/cartoon-nurse-taking-care-patient_23-2148156986.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
       alt="GeeksforGeeks logo">

       <img  width="120px" height="120px"  src=
       "https://img.freepik.com/free-vector/hand-drawn-nurse-taking-care-patient_23-2148155938.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
        alt="GeeksforGeeks logo">
 
        <img  width="120px" height="120px"  src=
       "https://img.freepik.com/free-vector/volunteers-helping-elderly-people_52683-39018.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
        alt="GeeksforGeeks logo">

        <img  width="120px" height="120px"  src=
        "https://img.freepik.com/free-vector/volunteers-helping-elderly-people_23-2148583915.jpg?t=st=1720540758~exp=1720544358~hmac=0021f81e20cb6861571a96ca24249fb64ca555fcbf73a23f734763afeea078a3&w=740"
         alt="GeeksforGeeks logo">
  
         <img  width="120px" height="120px"  src=
        "https://img.freepik.com/free-vector/hand-drawn-young-people-helping-elderly-illustration_52683-108500.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
         alt="GeeksforGeeks logo">
  
         <img  width="120px" height="120px"  src=
         "https://img.freepik.com/free-vector/dia-dos-avos-celebration-illustration_23-2148970388.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
          alt="GeeksforGeeks logo">
   
          <img  width="120px" height="120"  src=
         "https://img.freepik.com/free-vector/hug-concept-illustration_114360-25662.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
          alt="GeeksforGeeks logo">

          <img  width="120px" height="120px"  src=
          "https://img.freepik.com/free-vector/volunteers-helping-elderly-people_23-2148583914.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
           alt="GeeksforGeeks logo">
    
           <img  width="120px" height="120px"  src=
          "https://img.freepik.com/free-vector/elderly-care-cartoon-concept-with-caregiver-uniform-old-woman-bed-vector-illustraion_1284-80146.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
           alt="GeeksforGeeks logo">
    
           <img  width="120px" height="120px"  src=
           "https://img.freepik.com/free-vector/nurse-helping-patient-background_23-2148151173.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
            alt="GeeksforGeeks logo">
     
            <img  width="120px" height="120"  src=
           "https://img.freepik.com/free-vector/hand-drawn-community-spirit-illustration_23-2150231136.jpg?ga=GA1.2.1568445525.1684854935&semt=ais_hybrid"
            alt="GeeksforGeeks logo">
    </marquee>



</center>

  <div class="centered">
    <div>
      <h1>Grandma Etti</h1>
      <br>
<<<<<<< HEAD

      <p> <b> "Grandma Eti" website</b></p> 
       <p> <b>is a platform that provides help to others. and in return receives help. </b></p>
       <P>  <b>Its purpose is to create a connection between people who want to offer help to elderly people who need assistance. </b> </p>
      <p> <b> The site focuses on providing support and assistance in a variety fields. For example: help with shopping, cleaning and more.   </b></p>

=======
      <p> <b> "Grandma Etti" website</b></p> 
       <p> <b>is a platform that provides help to others. and in return receives help. </b></p>
       <P>  <b>Its purpose is to create a connection between people who want to offer help to elderly people who need assistance. </b> </p>
      <p> <b> The site focuses on providing support and assistance in a variety fields. For example: help with shopping, cleaning and more.   </b></p>
>>>>>>> 73b390b8f60f9f6b2ec1ff19f35ebdb23a2a3822
      <br>
      <p id="style"><b>How to use the website:</b></p>
<br>
  <br>
    </div>
    <div>

      <div style="position: relative;">
        <img id="img1" src="../public/chat.jpg" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left: 440px; top: 10px;">
     </div>
      <!-- <img id="img1" src="../public/chat.jpg" alt="Flowers in Chania" width="140" height="140" > -->
      <div style="position: relative;">
        <img id="img2" src='../public/profile.jpg' alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left: 690px; top: 10px;">
     </div>


     <!-- <img id="img2" src='../public/profile.jpg' alt="Flowers in Chania" width="140" height="140"   > -->

    
   <div>
    <!-- <p id="underlined-paragraph1">:שימוש בפתקים</p> -->
    <p id="p-2"></p>

  </div>
     <div style="position: relative;">
      <img id="img3" src="../public/create-form.jpg" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:960px; top: 10px;">
   </div>
      <!-- <img id="img3" src="../public/create-form.jpg" alt="Flowers in Chania" width="140" height="140"> -->
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>
    </div>
    <div id="line">
      <p id="underlined-paragraph2">Log in/Sign Up:</p>   
    </div>
    <br>
    <div id="logIn-signIn">
      <div style="position: relative;">
        <button id="signUp_submit" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:775px; top: 7px;">
          <a href="http://localhost:3000/logIn">Log in</a>
     </div>
     
      <!-- <button id="signUp_submit">
        <a href="http://localhost:3000/logIn">Log in</a>
      </button> -->
      <div style="position: relative;">
        <button id ="LogIn_submit" alt="Flowers in Chania" width="160" height="160"  style="position: absolute; left:675px; top: 7px;">
          <a href="http://localhost:3000/signUp">Sign up</a>

     </div>
     <br><br>
     <br>
     <br>
     
      <!-- <button id ="LogIn_submit">
      <a href="http://localhost:3000/signUp">Sign up</a>
    </div> -->

    <div>
      <div>
        <p id="underlined-paragraph"> Profile </p>
        <p id="p-1"></p> In the profile you can see your private details</p>
        </div>
        <br>
        <div>
          <p id="underlined-paragraph"> Notes:</p>
          <p id="p-1"></p> On a bullettin board you can take requests from people and help them.</p>
      </div>
<<<<<<< HEAD
      </div>
      <%- include('footer') %> 
=======
      <div>
        <p> בלוח מודעות אפשר לבקש עזרה ובתמורה לעזרה אפשר לקבל גם תמורה.</p>
      </div>
        <!-- <%- include('footer') %> -->
>>>>>>> 73b390b8f60f9f6b2ec1ff19f35ebdb23a2a3822
</body>

</html>