<nav>
    <ul>
        <div id="navGrooptLeft">
            <li><a href="/" class="IMGbutton"><img src="../public/logoes.jpg" id="logoesnavbar" alt="Profile IMG"
                        width="60" height="60"></a></li>
            <div id="navButtonsLeft">
                <li><a href="/" class="navbarButton">Home</a></li>
                <li><a href="/giveAndTake" class="navbarButton">Give And Take</a></li>
                <li><a href="/about" class="navbarButton">About us</a></li>
            </div>
        </div>
        <div id="navGroopRight">
            <div id="navButtonsRight">
                <li><a href="/myTakenAds" class="navbarButton">My taken ads</a></li>
                <li><a href="/myAds" class="navbarButton">My ads</a></li>
            </div>
            <li><a href="/profile" class="IMGbutton"><img src="../public/profile.jpg" id="logoesnavbar" alt="Profile IMG" width="60"  height="60"></a></li>
        </div>
    </ul>
</nav>
<br>